<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance" 
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd ">

   <!-- Initialization for data source -->
   <bean id = "dataSource" class = "org.springframework.jdbc.datasource.DriverManagerDataSource">
      <property name = "driverClassName" value = "com.mysql.jdbc.Driver"/>
      <property name = "url" value = "jdbc:mysql://localhost:3306/kivbook"/>
      <property name = "username" value = "root"/>
      <property name = "password" value = "1k2n3o4o"/>
   </bean>

   <!-- Definition for Template beans -->
   <bean id = "userJdbcTemplate" class = "zcu.pia.bohmannd.model.UserJdbcTemplate">
      <property name = "dataSource" ref = "dataSource" />    
   </bean>
   
   <bean id = "statusJdbcTemplate" class = "zcu.pia.bohmannd.model.StatusJdbcTemplate">
      <property name = "dataSource" ref = "dataSource" />    
   </bean>
   
   <bean id = "friendshipJdbcTemplate" class = "zcu.pia.bohmannd.model.FriendshipJdbcTemplate">
      <property name = "dataSource" ref = "dataSource" />    
   </bean>
   
   <bean id = "chatJdbcTemplate" class = "zcu.pia.bohmannd.model.ChatJdbcTemplate">
      <property name = "dataSource" ref = "dataSource" />    
   </bean>
   
   <bean id = "chat_LineJdbcTemplate" class = "zcu.pia.bohmannd.model.Chat_LineJdbcTemplate">
      <property name = "dataSource" ref = "dataSource" />    
   </bean>
   
   <bean id = "commentJdbcTemplate" class = "zcu.pia.bohmannd.model.CommentJdbcTemplate">
      <property name = "dataSource" ref = "dataSource" />    
   </bean>
   
   <bean id = "likeJdbcTemplate" class = "zcu.pia.bohmannd.model.LikeJdbcTemplate">
      <property name = "dataSource" ref = "dataSource" />    
   </bean>
   
   <bean name="/user" class="zcu.pia.bohmannd.controller.UserController">
		<property name="userJdbcTemplate" ref="userJdbcTemplate"/>
	</bean>
      
</beans>