/* CSS Document */        
    
/* max width*/
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
}

.block {
  text-align: justify;
}

[hidden] {
  display: none !important;
}

.black {
  color: black;
  margin: 0px; 
}

.friendicon-plus {
    font-size: 25px;
    padding-top: 2px;
    color: #5cb85c;
}

.friendicon-plus:hover {
    color: #449d44;
}

.friendicon-minus {
    font-size: 25px;
    padding-top: 2px;
    color: #d9534f;
}

.friendicon-minus:hover {
    color: #c9302c;
}

.invisible-button {

    background: transparent;
    border: none !important;
}?